<div class="container col-12 mt-5 show">
    <div class="row">
        
        <%= form_for @menu, url: menu_path(@menu), method: :patch do |f| %>
        <div class="col-2">
            <%=  f.label :name, 'Your reference'%>
            <%=  f.text_field :name, class:"rounded-box"%>
        </div>
        <br>

        <div>
        <%=render "shared/base",f: f%> 
        </div>

            <div class="submit mt-3">
            <%= f.submit "Valider mise à jour", class: "btn btn-primary btn-margin" %>
            <%=link_to "cancel", menus_path, class: "btn btn-danger btn-margin"%>
            </div>
        <% end %>
        

       









    </div>
</div>