<div class="container" >
    <header>
       <div class="index-header" >
                <div class="navbar" >
                    <nav>
                        <ul>
                            <li><%=link_to "Home", root_path, class:"colora"%></li>
                            
                        </ul>
                    </nav>
                </div>
    
            <div class="container col-3 search1 ">
                <div class="text-center first ">
                    <%= form_tag menus_path, method: :get do %>
                            <%= text_field_tag :query, 
                            params[:query], 
                            class: "form_control",
                            place_holder: "find a menu"%>
                            <%= submit_tag "search", class: "btn btn-primary btn-sm search"%>
                    <%end%> 
                </div>
    
        </div>
        <p class="text-center second"><strong>You can retrieve a menu based on its name or ingredients.</strong></p>
    </header>
    
       <div class=" index " data-controller = "function" data-action = "scroll->function#function">
         <p id="notice"><%=notice%></p>
       
         <br>
         <h1><% @menus.each do |menu| %></h1>
                <div class="menu">
                        <p>La reférence du menu est <strong><%= link_to menu.name, menu_path(menu) %></strong>, menu culturel: <strong><%= menu.type_of_menu %></strong>, les ingrédients à exclure sont: <strong><%=menu.ingredient1.downcase%></strong>, <strong><%=menu.ingredient2.downcase%></strong>, <strong><%=menu.ingredient3.downcase%></strong>, le menu doit inclure les ingédients suivants: <strong><%=menu.ingredient4.downcase%></strong>, <strong><%=menu.ingredient5.downcase%></strong>, <strong><%=menu.ingredient6.downcase%></strong>.</p>
                        <p>Le type de gastronomie souhaitée est: <strong><%= menu.type_of_cuisine %></strong>, pour <strong><%= menu.guests%> convives.</strong></p>
                        <p>La liste des ingrésients doit être fournie?: <strong><%= menu.list_of_ingredients_with_quantity %></strong>, Le temps de préparation ne doit pas être vsupérieur à : <strong><%= menu.preparation_time %> minutes.</strong> </p>
                        <p>Le menu sera composé de : <strong>starter</strong>, <strong>main course</strong> and <strong>dessert</strong></p>
                </div>   
          <% end %>
            <div class="btn2">
                <%=link_to "Nouveau menu", new_menu_path, class: "btn btn-primary"%>
                <%=link_to "Vos menus", menus_path, class: "btn btn-primary"%>
            </div>
    
            
        </div>
        <script>
            window.addEventListener("scroll", function(){
              console.log("test22")
              var header = document.querySelector(".index-header");
              header.classList.toggle("scroll-header", window.scrollY > 0);
            });
          </script>
    
    </div>
    
    