<div class="container">
    <header>
       <div class="index-header" >
                <div class="navbar" >
                    <nav>
                        <ul>
                            <li><%=link_to "Home", root_path, class:"colora"%></li>
                            
                        </ul>
                    </nav>
                </div>
    
            <div class="container ">
                <div class="text-center first ">
                    <%= form_tag menus_path, method: :get do %>
                            <%= text_field_tag :query, 
                            params[:query], 
                            class: "form_control",
                            place_holder: "find a menu"%>
                            <%= submit_tag "search", class: "btn btn-primary"%>
                    <%end%> 
                </div>
    
            </div>
        <p class="text-center second"><strong>You can retrieve a menu based on its name or ingredients.</strong></p>
    </header>
    
       <div class=" index ">
         <p id="notice"><%=notice%></p>
       
         <br>
         <h1><% @menus.each do |menu| %></h1>
                <div class="menu">
                        <p>Menu's name is <strong><%= link_to menu.name, menu_path(menu) %></strong>, the type of menu is <strong><%= menu.type_of_menu %></strong>, the ingredients to exclude are <strong><%=menu.ingredient1.downcase%></strong>, <strong><%=menu.ingredient2.downcase%></strong>, <strong><%=menu.ingredient3.downcase%></strong>, the ingredients to include are <strong><%=menu.ingredient4.downcase%></strong>, <strong><%=menu.ingredient5.downcase%></strong>, <strong><%=menu.ingredient6.downcase%></strong>.</p>
                        <p>The type of cuisine is <strong><%= menu.type_of_cuisine %></strong>, for <strong><%= menu.guests%> guests.</strong></p>
                        <p>List of ingredients to be sent with receipts: <strong><%= menu.list_of_ingredients_with_quantity %></strong>, Cooking time should no be more than <strong><%= menu.preparation_time %> minutes.</strong> </p>
                        <p>The "menu" will include a <strong>starter</strong>, <strong>main course</strong> and <strong>dessert</strong></p>
                </div>   
          <% end %>
            <div class="btn2">
                <%=link_to "New Menu", new_menu_path, class: "btn btn-primary"%>
                <%=link_to "List of menus", menus_path, class: "btn btn-primary"%>
            </div>
    
            
     </div>
    
    </div>
    
    