<div class="container col-12 mt-5 show">
   
    <p id="notice"><%=notice%></p>

    <div class="row">
        <%= simple_form_for(@menu) do |f| %>

            <div class="col-2">
                <%=  f.label :name, 'Votre référence'%>
                <%=  f.text_field :name, class:"rounded-box"%>
            </div>
            <br>
                    <div>
                        <h5><strong>Ingrédient à exclure</strong><span>&#128545</span> </h5>
                    </div>
       
                    <div class="col-3 ingredient-inputs">
                            <div>
                                <%=  f.label :ingredient1, 'Ingredient 1'%>
                                <%=  f.text_field :ingredient1,class:"rounded-box" %>
                            </div>
                            <div>
                                <%=  f.label :ingredient2, 'Ingredient 2'%>
                                <%=  f.text_field :ingredient2,class:"rounded-box"%>
                            </div>
                            <div>
                                <%=  f.label :ingredient3, 'Ingredient 3'%>
                                <%=  f.text_field :ingredient3, class:"rounded-box"%>
                            </div>              
                    </div>
                    <br> 

                    <div>
                        <h5><strong>Ingredients à utiliser</strong><span>&#128525</span> </h5>
                    </div>
       
                    <div class="col-3 ingredient-inputs">
                            <div>
                                <%=  f.label :ingredient4, 'Ingredient 1'%>
                                <%=  f.text_field :ingredient4, class:"rounded-box"%>
                            </div>
                            <div>
                                <%=  f.label :ingredient5, 'Ingredient 2'%>
                                <%=  f.text_field :ingredient5, class:"rounded-box"%>
                            </div>
                            <div>
                                <%=  f.label :ingredient6, 'Ingredient 3'%>
                                <%=  f.text_field :ingredient6, class:"rounded-box"%>
                            </div>              
                    </div>
                    <br>
                    

            <div class="col-9">
                    <div class="checkbox-group" data-controller="box" data-target="box.output">
                        <%= f.label :type_of_menu do %>
                        <%= content_tag :strong, "Menus culturels:" %>
                        <% end %>
                        <%= f.collection_radio_buttons :type_of_menu, ['Normal','Moslim', 'Kosher'], :to_s, :to_s, { name: 'menu_group' } %>
                    </div>  
            </div>

            <br>

            <div class="col-9">
                <div class="diet-box" data-controller="diet" data-target="diet.output">
                    <%= f.label :type_of_diet do %>
                    <%= content_tag :strong, "Regimes spécifiques:" %>
                    <% end %>
                    <%= f.collection_radio_buttons :type_of_diet, ['Normal','Vegetarian', 'Vegtalian', 'Vegan', "Flexitarian", "No colesterol", "no salt", "hypocaloric"], :to_s, :to_s,{ name: 'diet_group' } %>
                </div>  
          </div>
          <br>

          <div class="col-9">
                <div class="cuisine-box" data-controller="cuisine" data-target="cuisine.output">
                    <%= f.label :type_of_cuisine do %>
                    <%= content_tag :strong, "Types de gastronomie:" %>
                    <% end %>
                    <%= f.collection_radio_buttons :type_of_cuisine, ['Normal','French', 'Italian', 'Spanish', "Indou", "Chinese", "Japanese", "Mexican", "USA"], :to_s, :to_s,{ name: 'cuisine_group' } %>
                </div>  
           </div>
            <br>

            <div class="col-9">
                <div class="ingredients-box" >
                    
                    <%= content_tag :strong, "Liste des ingredients:" %>
                   
                    <%= f.collection_radio_buttons :list_of_ingredients_with_quantity, ['Yes','No'], :to_s, :to_s,  checked: 'Yes' %>

                </div>  
           </div>
              <br>

                    <div class="col-2">
                        <%=  f.label :preparation_time, 'Temps de préparation (minutes)', class:'bold'%>
                        <%= f.number_field :preparation_time, in: [15, 30, 45, 60, 75, 90],step:15, class: 'rounded-number-box',size: 130 %>
                    </div>
            <br>
            <%= f.label :guests, content_tag(:strong, "Nombre d'invités:") %>
             <%= f.select :guests, (1..12).to_a, prompt: "Choisir"%>
            <br><br>
           
            <div class="submit">
                <%= f.submit "Enregistrer", class: "btn btn-primary" %>
            <%=link_to "cancel", menus_path, class: "btn btn-danger"%>
            </div>
        <% end %>
    </div>
</div>