<div class="container col-12 mt-5 show">
   
    <p id="notice"><%=notice%></p>

    <div class="row">
        <%= simple_form_for(@menu) do |f| %>

            <div class="col-2">
                <%=  f.label :name,content_tag(:strong, 'Ta référence.') %>
                <%=  f.text_field :name, class:"rounded-box"%>
            </div>
            <br>
                    
                    <div>
                      <%=render "shared/base",f: f%>   
                    </div>   
            <div class="submit">
                <%= f.submit "Enregistrer", class: "btn btn-primary" %>
            <%=link_to "Liste", menus_path, class: "btn btn-danger"%>
            </div>
         <% end %>
    </div>
</div>