<div class="container first col-12 mt-5 show">
   
    <p id="notice"><%=notice%></p>

    <div class="row">
        <%= simple_form_for(@menu) do |f| %>

            <div class="col-2">
                <%=  f.label :name,content_tag(:strong, 'Ta référence.') %>
                <%=  f.text_field :name, class:"rounded-box"%>
            </div>
            <br>

            <div id="progressbar">
                <span id="loading"></span>
                <div id="load">loading</div>
              </div>
       
                    
                    <div>
                      <%=render "shared/base",f: f%>   
                    </div>
                    
                   



            <div class="submit">
                <%= f.submit "Enregistrer", id:"progress", class: "btn btn-primary btn-margin",data:{controller:"loading"}  %>
                <%=link_to "Liste", menus_path, class: "btn btn-primary btn-margin"%>
                <%=link_to "Home", root_path, class: "btn btn-primary btn-margin"%>
            </div>
         <% end %>
    </div>
</div>