<div class="container col-12 mt-5 show">
    <p id="notice"><%=notice%></p>
  <div class="row screen"  data-controller= "screen" data-screen-target ="screen">
       
     
         <%= simple_form_for(@menu, data: { action: "click->screen#clickScreen"},html: { class: "screen" }) do |f| %>

                                <div class="col-2">
                                    <%=  f.label :name, 'Votre référence'%>
                                    <%=  f.text_field :name, class:"rounded-box", readonly: true%>
                                </div>
                                <br>
                                
                              <div> 
                              <%=render "shared/base",f: f%> 
                              </div> 
         <% end %>
     </div>
   
                                <div data-controller="recipe" >
                                   <div id="receipt-content">
                                    <h3  data-action="click->recipe#toggleRecipe">Votre menu , en cliquant ici.</h3>
                                        <div class="receipt col-12 d-none " data-recipe-target="recipe1" id= "recipe1"  > 
                                               <% if @menu.receipt %>
                                                <% html_text = @menu.receipt.content.gsub(/\n/, "<br class='my-class'>") %>

                                                <% html_text = html_text.gsub(/(^\w+:)/, '<strong>\1</strong>') %>
                                                <%= html_text.html_safe %>
                                                    <% else %>
                                                            <p>No receipt found for this menu.</p>
                                                    <% end %>
                                        </div>
                                     </div>
                                </div>

                                
                                 
        
    

                                <div class="bouton mt-3 col-12">
                                        <%=link_to "Liste des menus", menus_path, class: "btn btn-primary btn-margin"%>
                                        <%=link_to "Mettre à jour", edit_menu_path(@menu), class: "btn btn-primary btn-margin"%>
                                        <%=link_to "Créer un menu", new_menu_path, class: "btn btn-primary btn-margin "%>
                                        <%=link_to "Annuler le menu", menu_path(@menu), method: :delete, class: "btn btn-danger btn-margin"%>
                                        <%= link_to 'Imprimer', print_menu_path(@menu), class: 'btn btn-primary', target: '_blank', data: { controller: 'print', action: 'click->print#print', target: 'printContent' } %>
                                        <div id="printContent" style="display:none">
                                        <%= html_text.html_safe %>
                                        </div>
                                 </div>




                                
    </div>
</div>